@import "tailwindcss";
@import "tw-animate-css";

/* =========================
   Design Tokens (Template)
   ========================= */
:root {
  /* surfaces */
  --background: #f0f4f8; /* page bg */
  --foreground: #0f172a; /* text */
  --card: #ffffff;
  --muted: #64748b;
  --border: #e2e8f0;

  /* brand */
  --primary: #0f5e78; /* deep teal */
  --primary-600: #0b4d62;
  --primary-700: #083e4f;

  --accent: #16a34a; /* green button in hero */
  --accent-600: #15803d;

  --danger: #ef4444; /* red CTA / highlights */
  --danger-600: #dc2626;

  --gold: #f59e0b; /* programme icon bg */
  --shadow: 0 18px 55px rgba(2, 8, 23, 0.1);

  --bg: #f3f6f9;
  --text: #0f172a;
  --navy: #0b2b43;
  --navy-2: #0f3b5a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b1220;
    --foreground: #e5e7eb;
    --card: #0f172a;
    --muted: #94a3b8;
    --border: rgba(148, 163, 184, 0.2);

    --primary: #0f5e78;
    --primary-600: #0b4d62;
    --primary-700: #083e4f;

    --accent: #22c55e;
    --accent-600: #16a34a;

    --danger: #ef4444;
    --danger-600: #dc2626;

    --gold: #fbbf24;
    --shadow: 0 18px 55px rgba(0, 0, 0, 0.35);

    --bg: #f3f6f9;
    --text: #0f172a;
    --navy: #0b2b43;
    --navy-2: #0f3b5a;
  }
}
body {
  background-color: var(--background);
  color: var(--foreground);
}

#main-menu-bar {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}
#main-menu-bar a {
  @apply text-gray-700 hover:text-gray-900;
}
#utility-menu span.utility-icon {
  @apply transition-colors duration-200  bg-white/10 text-white;
}
#utility-menu span.utility-icon:hover,
#utility-menu span.utility-icon:focus {
  @apply bg-[#0f5e78];
}
