name: Dockerize Frontends
on:
    push:
        branches:
            - main
    workflow_dispatch:
env:
    REGISTRY: docker.io
    BVC_WEBSITE_IMAGE: golojan/bvc-moodle-website
jobs:
    Build-and-Containerize:
        runs-on: ubuntu-latest
        outputs:
            image_sha: ${{ steps.set-tags.outputs.image_sha }}
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push website image
              run: |
                  docker build \
                    -f apps/web/Dockerfile \
                    -t $REGISTRY/$BVC_WEBSITE_IMAGE:$GITHUB_SHA \
                    -t $REGISTRY/$BVC_WEBSITE_IMAGE:latest \
                    .
                  docker push $REGISTRY/$BVC_WEBSITE_IMAGE:$GITHUB_SHA
                  docker push $REGISTRY/$BVC_WEBSITE_IMAGE:latest
            - name: Record pushed image tags
              id: set-tags
              run: |
                  echo "image_sha=$REGISTRY/$BVC_WEBSITE_IMAGE:$GITHUB_SHA" >> $GITHUB_OUTPUT
                  echo "image_latest=$REGISTRY/$BVC_WEBSITE_IMAGE:latest" >> $GITHUB_OUTPUT
